<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.vitaliibonar.plugintoast">

    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning,MissingApplicationIcon">

        <meta-data android:name="PLUGIN_COMPONENT_NAME"
                   android:value="com.vitaliibonar.plugintoast.PluginToastService"/>

        <service android:name="com.vitaliibonar.plugintoast.PluginToastService">
            <intent-filter>
                <action android:name="com.vitaliibonar.plugintoast.PluginToastService"/>
            </intent-filter>
        </service>

    </application>

</manifest>